@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Mono:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-family: 'Roboto Mono', monospace;
}

.App.dark {
    background-color: #16213E !important;
    background-image: none;
}


