.card {
    background-color: #fbe9f3;
    margin: 10px;
    width: 250px;
    height: 230px;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_title {
    font-size: .8em;
    font-weight: bold;
    margin: 10px 0;
}

.card_title > h2 > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.card_date {
    font-size: .7em;
}

.card_subtitle {
    font-size: .8em;
    color: rgba(0 ,0, 0, .8);
    
}

.card__actions > button {
    background-color: transparent;
    border: none;
    margin: 10px 5px 5px 0;
    cursor: pointer;

}