.detail__note {
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    margin: 50px auto;
    border-radius: 5px;
}

.note__title {
    text-align: center;
    padding: 10px;
    font-size: 1em;
}

.note__body {
    padding: 10px 20px;
    font-size: .9em;
    color: rgba(0, 0, 0, .9);
    text-align: left;
}