.topBar {
    background-color: #fff;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.topBar.dark {
    background-color: #000;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
}

.topBar > .logo > p {
    font-size: 20px;
}

.topBar > nav > ul {
    min-width: 130px;
    font-size: 1.1em;
    min-height: 45px;
}

nav > ul > li {
    cursor: pointer;
    padding-right: 15px;
}

.topBar.dark > nav > ul > li > a {
    color: #fff;
}

nav > ul > li > a {
    color: #000;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: rgba(0, 0, 0, .7);
}
.topBar > nav > ul,
nav > ul > li,
.topBar > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.topBar > nav > .newProject {
    display: flex;
}

.topBar > nav > .newProject > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E4ACD;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    border: 1.5px solid aqua;
    cursor: pointer;
    transform: scale(1);
    margin: 0 5px;
}

.topBar.dark > nav > .newProject > button {
    background-color: #272B33;
}

.topBar > nav > .newProject > button:hover {
    transform: scale(1.1);
    box-shadow: none;
    transition-duration: .1s;
}

.topBar_searchBar {
    width: 50%;
    height: 35px;
}

.topBar_searchBar > input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    color: rgba(0, 0, 0,.7);
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.topBar.dark > .topBar_searchBar > input {
    background-color: #272B33;
    color: #fff;
}